# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/venv/
**/env/

# Python caching
.pytest_cache/
.coverage
.coverage.*
.cache

# Frontend dependencies and builds
node_modules/
**/node_modules/
dist/
**/dist/
.eslintcache
*.log
.yarn-integrity

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
