ENVIRONMENT=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_DB=shopsphere_payments
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5436/shopsphere_payments
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
JWT_SECRET_KEY=e83a0adbc87612f0e0c034a706b85bfa17c7689d023bfe4c4246830501867e91
ALGORITHM=HS256
LOG_LEVEL=INFO
