# Application Settings
ENVIRONMENT=development
PROJECT_NAME="ShopSphere Product Service"
API_V1_STR=/api/v1

# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=shopsphere_products

# PostgreSQL connection string for Asyncpg (production / compose)
# For local run without docker, change POSTGRES_HOST to localhost
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/shopsphere_products

# Security Settings (Shared secret with User Service)
# Must match the JWT key used by the User Service to validate tokens statelessly
JWT_SECRET_KEY=e83a0adbc87612f0e0c034a706b85bfa17c7689d023bfe4c4246830501867e91
ALGORITHM=HS256

# Logging
LOG_LEVEL=DEBUG
